.inputField{
    text-align: center;
}

h1{
    color: blue;
    font-size: xx-large
}

.imgDisplayField{
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    box-sizing: border-box;
    max-width: 60%;
    margin: 0 auto;
    justify-content: space-around;
}

.btn{
    width: 30%;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

button{
    background-color: blue;
    border: 2px solid rgb(122, 122, 244);
    color: white;
    padding: 5px;
    cursor: pointer;
}

.img{
    margin-bottom: 8px;
    cursor: pointer;
}
.img:hover{
    transform: scale(1.1);
}